
{% extends "AppBundle:Default:layout.html.twig" %}

{% block body %}
{% if (app.user.birthday|date('U') > '2000-01-01'|date('U')) %}

<div id="page-wrapper"> <h1><br><br><br>Tu es bien trop jeune pour accéder à cette page ;)<h1></div>

{% else %}
<div id="page-wrapper" >

            <div class="row">
                <div class="col s12">
                    <h1 class="page-header">Ajouter une dépense</h1>
                </div>
                <!-- /.col s12 -->
            </div>
            <!-- /.row -->
            <div class="row">
                <div class="col s12">
                    <div class="panel panel-default">
                        <div class="panel-heading">

                        </div>
                        <div class="panel-body">
                            <div class="row">
                                <div class="col s12">
                                  {{ form_start(form, {'attr': {'class': 'form-vertical'}}) }}

                                   {{ form_errors(form) }}


                                   <div class="row">

                                        <div class="input-field col s12">
                                            {{ form_label(form.description, "Quel est l'objet de la dépense ?", {'label_attr': {'class': ''}}) }}
                                            {{ form_errors(form.description) }}<br>
                                            {{ form_widget(form.description, {'attr': {'class': ''}})}}
                                        </div></div>
                                        <div class="row">
                                         <div class="input-field col s6">
                                            {{ form_label(form.concerne, "Pour qui est le cadeau ? (laisser vide si ce n'est pas un cadeau)", {'label_attr': {'class': ''}}) }}
                                            <br>{{ form_errors(form.concerne) }}<br>
                                            {{ form_widget(form.concerne, {'attr': {'class': '', 'onchange' : 'block()'}})}}
                                        </div>
                                        <div class="input-field col s6">
                                            {{ form_label(form.type, "Quel type ? (Important pour les comptes!!!)", {'label_attr': {'class': ''}}) }}
                                            <br>{{ form_errors(form.type) }}<br>
                                            {{ form_widget(form.type, {'attr': {'class': '', 'id':'dropdown_type', 'onchange': 'block()'}})}}
                                        </div>
                                        </div>
                                        <div class="row">

                                        <div class="input-field col s12">
                                            {{ form_label(form.montant, "Le montant ?", {'label_attr': {'class': ''}}) }}
                                            {{ form_errors(form.montant) }}<br>
                                            {{ form_widget(form.montant, {'attr': {'class': ''}})}}
                                        </div>
                                        </div>
                                        <div class="row">

                                        <div class="input-field col s12">
                                            {{ form_label(form.pour, "A qui imputé cette dépense ?", {'label_attr': {'class': ''}}) }}
                                            <br>{{ form_errors(form.pour) }}<br>
                                            {{ form_widget(form.pour, {'attr': {'class': 'css_checkbox'}})}}
                                        </div>
                                        </div>






                                </div>

                            </div>
                            <div class="row" style="margin-top:70px">
                            <div class="col s4">
  </div>



                                <div class="col s4">
                                                                    <button class="btn waves-effect waves-light" type="submit" name="action">Valider
                                                                       <i class="material-icons right">send</i>
                                                                     </button>
                                                                    {{ form_end(form) }}

                                                                                                    </div>

                                                                                                <div class="col s4">

                                                                                                                                                                                                    </div>

                                                                                                                                                                                                </div>

                            <!-- /.row (nested) -->
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.col s12 -->
            </div>
            <!-- /.row -->
        </div>
        {% endif %}
<script>
function block(){
change = document.getElementById("depense_type").value;
if (change == 'moitie'){
for (i=2; i < 10; i++){
document.getElementById("depense_pour_"+i).checked = false;
document.getElementById("depense_pour_"+i).disabled = false;
}
document.getElementById("depense_pour_{{ famille.id }}").checked = true;
document.getElementById("depense_pour_{{ famille.id }}").disabled = true;
}
else if(change == 'F&S'){
for (i=2; i < 10; i++){

document.getElementById("depense_pour_"+i).checked = true;
document.getElementById("depense_pour_"+i).disabled = true;

}
}
else if(change == 'O&T'){
cadeau = document.getElementById("depense_concerne").value;
for (i=2; i < 10; i++){
if (cadeau != i ){
document.getElementById("depense_pour_"+i).checked = true;
document.getElementById("depense_pour_"+i).disabled = true;
}
else{
document.getElementById("depense_pour_"+i).checked = false;
document.getElementById("depense_pour_"+i).disabled = false;
}
}
}
else{
for (i=2; i < 10; i++){
document.getElementById("depense_pour_"+i).checked = false;
document.getElementById("depense_pour_"+i).disabled = false;
document.getElementById("depense_pour_{{ famille.id }}").disabled = true;

}



}

}
</script>
        {% endblock %}
