

{% extends "AppBundle:Default:layout.html.twig" %}

{% block body %}
 <div id="page-wrapper">
            <div class="row">
                <div class="col s12">
                    <h1 class="page-header">Dashboard</h1>
                </div>
                <!-- /.col s12 -->
            </div>
            <!-- /.row -->
            <div class="row">
  <a href="{{ path('gnet_platform_autrecompte') }}">
<div class="col s12 m6">
<div class="card">
<div class="card-image">
  <img src="images/sample-1.jpg">
  <span class="card-title">Annuaire</span>
</div>
<div class="card-content">
  <p>Trouvez les coordonnées de chacun rapidement</p>
</div>
<div class="card-action">
  <a href="{{ path('gnet_platform_autrecompte') }}">Annuaire</a>
</div>
</div>
</div>
                 </a>
                <a href="{{ path('gnet_platform_view') }}">
              <div class="col s12 m6">
              <div class="card">
              <div class="card-image">
                <img src="images/sample-1.jpg">
                <span class="card-title">Annuaire</span>
              </div>
              <div class="card-content">
                <p>Fini le Google Drive, de nouvelles listes de noël sont dispos: plus de doublons possibles !</p>
              </div>
              <div class="card-action">
                <a href="{{ path('gnet_platform_view') }}">Liste de Noël</a>
              </div>
              </div>
              </div>
                </a>
                <a href="{{ path('gnet_platform_mesdepenses') }}">
                <div class="col s12 m6">
                <div class="card">
                <div class="card-image">
                  <img src="images/sample-1.jpg">
                  <span class="card-title">Annuaire</span>
                </div>
                <div class="card-content">
                  <p>Une gestion simplifiée des comptes. Chacun rentre ce qu'il achète, et tout se calcule tout seul! Vous avez dit magique ?</p>
                </div>
                <div class="card-action">
                  <a href="{{ path('gnet_platform_mesdepenses') }}">Voir mes dépenses</a>
                </div>
                </div>
                </div>
                 </a>
                <a href="{{ path('calendar_index') }}">
                <div class="col s12 m6">
                <div class="card">
                <div class="card-image">
                  <img src="images/sample-1.jpg">
                  <span class="card-title">Annuaire</span>
                </div>
                <div class="card-content">
                  <p>Qui n'a jamais oublié un anniversaire ? Plus jamais avec le nouvel agenda :)</p>
                </div>
                <div class="card-action">
                  <a href="{{ path('calendar_index') }}">Voir le calendrier</a>
                </div>
                </div>
                </div>
                 </a>
            </div>


        </div>
        <!-- /#page-wrapper -->


        {% endblock %}
