{% extends "AppBundle:Default:layout.html.twig" %}

{% block body %}

<div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">Ma Liste de Noël</h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">

                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <div class="dataTable_wrapper">
                                <table class="responsive-table striped" id="dataTables-example">
                                    <thead>
                                        <tr>
                                            <th>Object</th>
                                            <th>Commentaire</th>
                                            <th>Action</th>
                                        </tr>
                                    </thead>
                                    <tbody>


                                        {% for Ligne in Liste %}
                                          <tr class="odd gradeX">
                                        <td>{{ Ligne.description }}</td>

                                         <td>{{ Ligne.Commentaire }}</td>
                                         <td>
                                        <a href="{{ path('gnet_platform_DeleteListe', {'id': Ligne.id }) }}"><img src="../../../web/img/croix_rouge.png" alt="Supprimer"  height="20">
                                        <a href="{{ path('gnet_platform_editListe', {'id': Ligne.id }) }}"><img src="../../../web/img/addcomment.png" alt="Modifier Liste" height="20"></a>
                                        </td>
                                         {% endfor %}

                                        </tr>


                                    </tbody>
                                </table>
                                </div>
                                <div class="row" style="margin-top:70px">
                                   <div class="col s4">
                                   </div>
                                   <div class="col s4">
                                      <a href="{{ path('gnet_platform_addListe') }}" class="btn waves-effect waves-light">Ajouter un souhait</a>
                                   </div>
                                   <div class="col s4">
                                   </div>
                                </div>
                            </div>
                            <!-- /.table-responsive -->

                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->

        </div>
        <!-- /#page-wrapper -->
           {% endblock %}
